<a href="https://colab.research.google.com/github/IshitaLohia/Ad-Hoc/blob/main/Python_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Flatenning nested dictionaries in Python

my_list = [
  {"product_id": 101, "info": {"category": "books", "price": 9.99}},
  {"product_id": 102, "info": {"category": "electronics", "price": 49.99}},
]

In [ ]:
flattened_list = []

for item in my_list:
    flat_item = {
        "product_id": item["product_id"],
        "category": item["info"]["category"],
        "price": item["info"]["price"]
    }
    flattened_list.append(flat_item)

print(flattened_list)

[{'product_id': 101, 'category': 'books', 'price': 9.99}, {'product_id': 102, 'category': 'electronics', 'price': 49.99}]

In [ ]:
#Clean and transform logs
#Write a function that parses them into structured dictionaries and filters out logs where event != 'click'.
my_list =[
  "user_id:101,event:click,page:home",
  "user_id:102,event:view,page:search"
]

In [ ]:
def clean_click_logs(logs):
    result = []
    for log in logs:
        entry = {}
        parts = log.split(',')
        for item in parts:
            key, value = item.split(':')
            entry[key] = value
        if entry['event'] == "click":
            result.append(entry)
    return result

In [ ]:
logs = [
  "user_id:101,event:click,page:home",
  "user_id:102,event:view,page:search"
]

print(clean_click_logs(logs))

[{'user_id': '101', 'event': 'click', 'page': 'home'}]

In [ ]:
#Top K frequent words

terms = ["tablet", "tablet", "laptop", "tablet", "laptop", "monitor"]

#[("tablet", 3), ("laptop", 2)]

In [ ]:
from collections import Counter

def top_k_terms(terms, k):
    freq = Counter(terms)
    return freq.most_common(k)

In [ ]:

print(top_k_terms(terms, 2))

[('tablet', 3), ('laptop', 2)]

In [ ]:
#Another way -

def top_k_terms_manual(terms, k):
    freq_dict = {}

    # Step 1: Count frequencies
    for term in terms:
        if term in freq_dict:
            freq_dict[term] += 1
        else:
            freq_dict[term] = 1

    # Step 2: Sort by frequency in descending order
    sorted_items = sorted(freq_dict.items(), key=lambda x: x[1], reverse=True)

    # Step 3: Return top k
    return sorted_items[:k]

In [ ]:

print(top_k_terms_manual(terms, 2))

[('tablet', 3), ('laptop', 2)]

In [ ]:
#Find duplicate orders -

x = [
  {"order_id": 1, "customer_id": 101},
  {"order_id": 2, "customer_id": 102},
  {"order_id": 3, "customer_id": 101}
]

In [ ]:
def find_duplicate_customers(orders):
    customer_count = {}

    for order in orders:
        customer_id = order["customer_id"]
        if customer_id in customer_count:
            customer_count[customer_id] += 1
        else:
            customer_count[customer_id] = 1

    duplicates = [cid for cid, count in customer_count.items() if count > 1]
    return duplicates
print(find_duplicate_customers(x))

[101]

In [ ]:
# ðŸ”¹ Q5: Simulate Daily Active Users (DAU)
# Given a list of user events:
# Write a function to calculate the number of unique daily active users per day.

[
  {"user_id": 1, "timestamp": "2024-05-01"},
  {"user_id": 2, "timestamp": "2024-05-01"},
  {"user_id": 1, "timestamp": "2024-05-02"}
]

In [ ]:
#ðŸ”¹ Q6: Anomaly Detection in Sales
# Youâ€™re given a list of daily sales per region:
# Write a function to identify any dates where sales are more than 2 standard deviations below the average sales for that region.
 [
  {"region": "north", "date": "2024-05-01", "sales": 1000},
  {"region": "north", "date": "2024-05-02", "sales": 400},
  {"region": "north", "date": "2024-05-03", "sales": 1200},
]

In [1]:
# Day 2 - Write a function to parse each string into a dictionary and return only those logs where event == 'click'.
logs = ["user_id:101,event:click,page:home", "user_id:102,event:view,page:search"]

In [14]:
Logs =[]
for data in logs:
  result ={}
  parts=data.split(',')
  for x in parts:
        key, value = x.split(':')
        result[key]= value
  if result['event'] == "click":
            Logs.append(result)

In [15]:
  print(Logs)

[{'user_id': '101', 'event': 'click', 'page': 'home'}]

In [17]:
# Task: Write a function to calculate total spend per customer and return a dictionary like: {1: 250, 2: 200} This is a purchase record
data = [
    {"customer_id": 1, "order_amount": 100},
    {"customer_id": 2, "order_amount": 200},
    {"customer_id": 1, "order_amount": 150}
]

In [20]:

def total_spend_by_customer(data):
    spend_dict = {}

    for record in data:
        cid = record['customer_id']
        amount = record['order_amount']

        if cid in spend_dict:
            spend_dict[cid] += amount
        else:
            spend_dict[cid] = amount

    return spend_dict

print(total_spend_by_customer(data))

{1: 250, 2: 200}

In [22]:
# Basic Logic and deduplication - Task:Write a function to return only those customer IDs that appear more than once (duplicates only), in sorted order.
customers = [101, 102, 101, 103, 102]

In [24]:
def find_duplicates(customers):
    count = {}
    for cust in customers:
        if cust in count:
            count[cust] += 1
        else:
            count[cust] = 1

    # Filter customers with count > 1 and return sorted list
    duplicates = [cust for cust, c in count.items() if c > 1]
    return sorted(duplicates)

print(find_duplicates(customers))

[101, 102]

In [25]:
# Task:Use pandas to: 1) Group by region 2) Calculate total sales per region 3) Sort the result in descending order of sales

import pandas as pd

df = pd.DataFrame({
    'region': ['north', 'south', 'north', 'south'],
    'sales': [100, 150, 200, 50]
})

In [36]:
#Group by Region
df_grouped = df.groupby('region')['sales'].sum().reset_index()
df_grouped=df_grouped.sort_values(by ='sales',ascending = False)
print(df_grouped )

  region  sales
0  north    300
1  south    200

Expected Output = [
  {"product_id": 101, "category": "books", "price": 9.99},
  {"product_id": 102, "category": "electronics", "price": 49.99},
]